body{
    text-align: center;
    background-color: pink;
    opacity: 0.8;
}

nav{
padding: 10px;
background-color: black;
border-radius: 10px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-family: cursive;
}
nav a:hover{
opacity: 0.5;
}
h1{
    font-family: fantasy;
    font-size: 60px;
}
table{
    width: 100%;
    margin-top: 10px;
}
table tr th{
    border: solid black 5px;
    padding: 20px;
}
table tr td{
    border: solid black 5px;
    padding: 15px;
}
.cevent{
    border: 10px solid black;
    margin: 5px;
}
.cevent h2{
    background-color: black;
    color: white;
    opacity: 0.5;
}
.cevent p{
    background: linear-gradient(red, black);
    color: white;
    font-size: 50px;
}
form{
    border: 10px solid black;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: black;
    border-radius: 5px;
    margin-top: 20px;

}
form input{

    padding: 10px;
    border-radius: 2px;
}
form input:hover{
    opacity: 0.5;
}
form label{
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
form textarea{
    padding: 10px;
    border: black solid 2px;
    border-radius: 2px;
}
form button{
    border: 10px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 50px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: cursive;
}
form button:hover{
    opacity: 0.5;
    cursor: pointer;
}
h3{
    color: white;
    font-size: 30px;
}
fieldset{
    font-size: 30px;
}
